<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
        <title>Home</title>
    </head>
    <body>
        <header class="header">
            <h1> Home </h1>
        </header>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Page 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Page 2</a>
                </li>
               
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="panel-box">
                    <p> 1 </p>
                </div>
                <div class="panel-box">
                    <p> 2 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p> 3 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p> 4 </p>
                </div>
                <div class="col-lg-8">
                    <p> 5 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <p> 6 </p>
                </div>
                <div class="col-lg-3">
                    <p> 7 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <p> 8 </p>
                </div>
                <div class="col-lg-3">
                    <p> 9 </p>
                </div>
                <div class="col-lg-4">
                    <p> 10 </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p> 11 </p>
                </div>
            </div>
        </div>    
    </body>
</html>